// UTILITY CLASSES
@use 'variables' as *;
@use 'mixins' as *;


.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }

.hidden { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.flex { display: flex; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-md;
  
  @include respond-to('md') {
    padding: 0 $spacing-lg;
  }
}