@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.searchBar {
  @include card;
  display: flex;
  gap: $spacing-sm;
  padding: $spacing-md;
  
  @include respond-to('sm') {
    padding: $spacing-lg;
  }
}

.input {
  flex: 1;
  margin: 0;
}