@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.spinner {
  display: inline-block;
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  animation: spin 0.8s linear infinite;
}

// Sizes
.sm .circle {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.md .circle {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

.lg .circle {
  width: 48px;
  height: 48px;
  border-width: 4px;
}

// Colors
.primary .circle {
  border-top-color: $color-primary;
}

.white .circle {
  border-color: rgba(255, 255, 255, 0.3);
  border-top-color: $color-white;
}

.gray .circle {
  border-top-color: $color-gray-600;
}